In [1]:
# How are in-demand skills trending for Data Analysts?

# Methodology
# 1 Aggregate skill counts monthly
# 2 Re-analyze based on percentage of total jobs
# 3 Plot the monthly skill demand

In [2]:
# Import Libraries and data
import ast
import pandas as pd
import seaborn as sns
from datasets import load_dataset
from datetime import datetime, date   
import matplotlib.pyplot as plt  

# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])
df['job_skills'] = df['job_skills'].apply(lambda x: ast.literal_eval(x) if pd.notna(x) else x)

In [4]:
df_DA_US = df[ (df['job_title_short']=='Data Analyst') & (df['job_country']=='United States') ].copy()
df_DA_US['job_posted_month_no'] = df_DA_US['job_posted_date'].dt.month
df_DA_US_explode = df_DA_US.explode('job_skills')
#Group by month and job_skills
df_DA_US_pivot = df_DA_US_explode.pivot_table(index='job_posted_month_no', columns='job_skills',  aggfunc='size', fill_value=0)
df_DA_US_pivot

job_skills,airflow,airtable,alteryx,angular,ansible,apl,arch,asana,asp.net,asp.net core,...,watson,webex,windows,wire,word,workfront,wrike,xamarin,yarn,zoom
job_posted_month_no,,,,,,,,,,,,,,,,,,,,,
1,39,7,206,21,7,1,0,15,17,0,...,7,9,80,3,968,0,7,0,0,30
2,35,0,203,23,4,1,0,14,9,0,...,6,6,92,3,738,3,0,0,0,19
3,39,1,219,5,5,6,1,14,11,0,...,7,6,76,5,736,1,1,1,0,16
4,28,1,208,8,3,7,3,5,6,0,...,2,4,86,9,695,8,1,0,0,12
5,27,3,144,15,8,9,1,5,13,0,...,1,6,67,1,557,3,0,0,0,9
6,39,5,188,9,4,8,3,7,7,0,...,5,2,69,8,721,5,0,0,0,20
7,42,2,160,5,3,5,5,6,2,0,...,4,1,59,10,587,0,0,0,1,13
8,44,2,187,5,3,10,0,5,3,0,...,3,6,87,4,752,0,0,0,0,26
9,22,3,145,11,2,3,4,4,3,0,...,0,4,80,4,478,0,0,0,1,12
10,29,9,144,13,2,0,3,2,8,1,...,2,3,74,7,498,5,1,0,0,14
11,23,1,126,4,2,0,1,2,5,0,...,2,4,57,3,430,1,0,0,1,15
12,20,2,115,10,5,0,3,7,3,0,...,4,6,47,4,451,3,4,0,0,21

In [ ]:
# sorts by count
df_DA_US_pivot.loc['Total'] = df_DA_US_pivot.sum() #add row of totals
df_DA_US_pivot = df_DA_US_pivot[df_DA_US_pivot.loc['Total'].sort_values(ascending=False).index]
print(df_DA_US_pivot[df_DA_US_pivot.loc['Total'].sort_values(ascending=False).index])

df_DA_US_pivot = df_DA_US_pivot.drop('Total')
print(df_DA_US_pivot)

KeyError: "None of [Index([34452, 27519, 19311, 18382, 13200, 11659, 11630,  7611,  7175,  5109,\n       ...\n           1,     1,     1,     1,     1,     1,     1,     1,     1,     1],\n      dtype='int64', name='job_skills', length=218)] are in the [columns]"